@charset "utf-8";

body {
  font-size: 16px;
  font-family: 'arial','Hiragino Sans','Meiryo',sans-serif;
  color: #333333;
  background-color: #f6f6f6;
}

header {
  background-color: white;
  border-bottom: 2px solid #c6c6c6;
}

.header-devide{
  display: flex;
  justify-content: space-between;
}

.flex_center {
  display: flex;
  justify-content: space-around;
  line-height: 0em;
}

.button_margin {
  margin: 3px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-main{
  display: flex;
  justify-content: center;
}

.group-name{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.group-name label{
  font-size: 24px;
}

.groupname-input {
  width:475px;
  height: 25px;
}

h1 {
  text-align: left;
  padding: 20px 0px 16px;
}


select {
  width: 200px;
}

.field {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }

.input_button {
  margin: 22px 50px 27px;
  width: 100px;
}

.delete_button {
  margin: 0px 50px 30px;
  width: 100px;
}

.futor-button {
  display: flex;
  justify-content: center;
  }

.createroom-button,.cancel-button {
  margin: 20px 30px 20px;
  width: 100px;
}

.search_bar {
  margin: 10px 20px 30px;
  display: flex;
  justify-content: center;
}

.split{
  display: table;
  width: 100%;
}

.split-item{
    display: table-cell;
    padding: 10px;
    width: 70%;
}

.split-left{
    background: #ffffff;
    color: #fff;
    position: relative;
}

.split-{
  background: #ececec;
  color: #fff;
  position: relative;
}

.l-leftNav {
  display: flex;
}

.l-leftNav__nav {
  flex: 2;
  position: relative;
  padding-top: 5px;
  text-align: left;
  background-color: #f5f5f5;
}

.kyc-search-bar{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  width: 550px;
  margin: 10px;
  padding-left: 4em;
}

.list_test-wrap {
  list-style:  none;  /* デフォルトのアイコンを消す */
  margin:  0;         /* デフォルト指定上書き */
  padding: 0;         /* デフォルト指定上書き */
}

.roomlist{
  color: #1f1f1f;                /* 文字色指定 */
  border-left: solid 6px #0088ff;/*左側の線*/
  border-bottom: solid 2px #cfcfcf;/*下に灰色線*/
  background: rgb(255, 255, 255);
  margin-bottom: 5px;/*下のバーとの余白*/
  margin-left: 35px;
  border-radius: 10px;
  line-height: 4;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
  }

.bulltinspace{
  padding: 50px;
}

.bulltin-header{
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.bulltinboard{
  color: #1f1f1f;                /* 文字色指定 */
  border-bottom: solid 2px #cfcfcf;/*下に灰色線*/
  background: rgb(255, 255, 255);
  margin-bottom: 5px;/*下のバーとの余白*/
  border-radius: 10px;
  padding: 0.5em;
  list-style-type: none!important; /*ポチ消す*/
  overflow-wrap: break-word; /*長文の折り返し*/
  }


.roomlist-createroom-button {
  position: fixed;
  font-size: 50px;    /* Font size */
  font-weight: 900;   /* Font weight */
  color: #ffffff;     /* Text color */
  bottom: 24px;
  left: 24px;
  width: 70px;
  height: 70px;
  text-decoration: none; /* No underline */
  background-color: #0088ff;
  display: block;
  text-align: center;
  border-radius: 35px;
  box-shadow: 2px 12px 8px -2px #777777;
}

.roomlist-createroom-button a {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
  position: fixed;
  bottom: 24px;
  left: 24px;
  width: 70px;
  height: 70px;
}

.roomlist-createroom-button a:hover{/* マウスオーバー時に色変更*/
  position: fixed;
  font-size: 50px;    /* Font size */
  font-weight: 900;   /* Font weight */
  color: #ffffff;     /* Text color */
  bottom: 24px;
  left: 24px;
  width: 70px;
  height: 70px;
  text-decoration: none; /* No underline */
  background-color: #00529a;
  display: block;
  text-align: center;
  border-radius: 35px;
  box-shadow: 2px 12px 8px -2px #777777;
}

.main {
  margin-bottom: 10px;
  width: 100%
}
.side {
}
.main,
.side {
  padding: 2%;
  border-radius: 10px
}
 
/* Responsive */
@media ( min-width : 600px ){
    .flexbox {
      display: -webkit-flex;
      display: flex;
    }
  .main {
    margin: 0 10px 0 0;
  }
}