<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
  </head>
  <body>
    <header>
        <img src="../static/img/logo.png" alt="COMPANY" width="200" height="100">
        <div id="loginMessage">JavaScriptが実行されませんでした。管理者にお問い合わせください。</div>

        <script>
          let username = "testuser"; //定義されていないと実行されない
          document.getElementById('loginMessage').textContent = `${username}さん、お仕事お疲れ様です。`;
        </script>
    </header>

    <main>
      <form method="post">
        <div class="group-name">
          <label for="groupname-input">グループ名</label><br>
          <input
            type="text"
            name="groupName"
            id="groupname-input"
            class="groupname-input"
          />
        </div>
        <div class="futor-button">
          <button class="createroom-button">グループ作成</button>
          <a href = "{{url_for('index')}}">キャンセル</button>
        </div>
      </form>
    </main>
  </body>
</html>