<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/add-channel.css">
    <title>Login</title>
  </head>
  <body>
    <header>
        <img src="../static/img/logo.png" alt="COMPANY" width="200" height="100">
    </header>

    <main>
      <form method="post">
        <div class="group-name">
          <label for="groupname-input">グループ名</label><br>
          <input
            type="text"
            name="groupName"
            id="groupname-input"
            class="groupname-input"
          />
        </div>
        <div class="futor-button">
          <div>
            <button class="createroom-button">グループ作成</button>
          </div>
          <div>
            <a href = "{{url_for('index')}}">キャンセル</button>
            </div>
        </div>
      </form>
    </main>
  </body>
</html>