<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static',filename='css/chatroom.css')}}">
  <title>Chat</title>
</head>
<body>
  <header>
    <div id="chat_header">
      <a class="chat_return_link" href="{{url_for('index')}}">
          <img src="../static/img/ruturn_button.png" alt="search" width="30" height="30" >
      </a> 
      <div id="room_name">{{ channel.name }}</div>
    </div>
  </header>
  <div id="chat_message_area">
    <div id="chat_message_text">
        {% if messages|length > 0 %}
        {% for message in messages %} 
        <!-- <p>message.uid >>> {{message.uid}}</p>
        <p>uid >>> {{uid}}</p> -->
        {% if message.uid == uid %}
        <div>
            <p class="my_massege_box">{{ message.message }}</p>
        </div>
        {% else %}
        <div>
            <p class="otheruser_name"><span>{{message.lastname}}</span><span>{{message.firstname}}</span></p>
            <p class="other_massege_box">{{ message.message }}</p>
        </div>
        {% endif %} {% endfor %} {% else %}
        <div id="no-message"><p>メッセージが投稿されていません</p></div>
        {% endif %}
    </div>
  </div>
  <footer class="chat_input">
    <form method="post" action="/message/create" >
      <input type="hidden" name="cid" value="{{ channel.id }}" />
      <textarea id="inputMessage" type="text" class="form_control" name="message" placeholder="メッセージを入力してください" autofocus></textarea>
      <button id="sendBtn" class="btn_primary">送信</button>
    </form>
  </footer>
</body>
</html>