<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
  </head>
  <body>
    <header>
        <img src="../static/img/logo.png" alt="COMPANY" width="200" height="100">
    </header>
    <body>
        <div class="flex_center">
            <h2>Login</h2>
        </div>
        <div class="form">
            <form method="POST">
                <p>Email：<input type="text" name="email" id="email-input" size="24"></p>
                <p>Password：<input type="password" name="password" id="password-input"></p>
                <div class="flex_center">
                    <div>
                        <button class="login-btn">Login</button>
                    </div>
                </div>

                <div class="flex_center">
                    <div>
                        <a href='{{ url_for("signup")}}'>Sign Up</a>
                    </div>
                </div>
             </form>
        </div>


    </body>
    <script>
    let button = document.querySelector(".login-btn");
    let form = document.querySelector(".form");
        button.addEventListener("click", () => {
            form.innerHTML = `<div class="loading"></div>`;
        });
    </script>