#chat_message_area{
    height:590px;
    width: 100%;
}
/* ヘッダー部分 */
#chat_header {
    padding: 6px;
    font-size: 23px;
    height: 34px;
    background: #ddd;
    border: 1px solid #ccc;
    display: flex;
}
#room_name{
    margin: auto;
}
/* タイムライン部 */
#chat_message_text {
    overflow: auto;/* スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする */
    height:99%;/*テキストエリアが下に張り付く様にする*/
    background-color: #eee;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;/*ヘッダーの下に影を入れる*/
}

.other_massege_box{
    color: #333;/*テキストを黒にする*/
    background: #fff;
    border: 2px solid #13178E;
    border-radius: 30px 30px 30px 0px;/*左下だけ尖らせて吹き出し感を出す*/
    margin: 5px 10px 10px 10px;
    float: left;
    line-height: 1.3em;
    clear: both;
    padding: 10px;

}

.my_massege_box{
    color: #fff;/*テキストを白にする*/
    background: #13178E;
    border: 2px solid #13178E;
    border-radius: 30px 30px 0px 30px;/*右下だけ尖らせて吹き出し感を出す */
    margin: 5px 10px 10px 10px;
    float: right;
    line-height: 1.3em;
    clear: both;
    padding: 10px;
}

.myuser_name {
    float: right;
    margin: 10px 10px 0px 10px;
    line-height: 1.3em;
    clear: both;
}

.otheruser_name {
    float: left;
    line-height: 1.3em;
    margin: 10px 10px 0px 10px;
    clear: both;
}

/* テキストエリア、送信ボタン */
#chat_input {
    background-color:#eee;/*タイムラインの色と同じにする*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 48px;
    padding: 4px;
}
    #inputMessage{
        width: calc(100% - 75px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
        line-height: 16px;
        height: 48px;
        padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
        border: 1px solid #ccc;
        border-radius: 4px;/*角丸*/
        text-align: left;/*文字を左寄せ*/
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
        box-sizing: border-box;

    }
    #sendBtn {
        width: 72px;
        height: 48px;
        font-size: 16px;
        line-height: 3em;
        float: right;
        color: #fff;
        font-weight: bold;
        background: #bcbcbc;
        text-align: center;/*文字をボタン中央に表示*/
        border: 1px solid #bbb;
        border-radius: 4px;/*角丸*/
        box-sizing: border-box;/
    }
    #sendBtn:hover {
        background: #13178E; /*マウスポインタを当てた時にアクティブな色になる*/
        cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
    }