@charset "utf-8";

body {
  font-size: 16px;
  font-family: 'arial','Hiragino Sans','Meiryo',sans-serif;
  color: #333333;
  background-color: #f6f6f6;
}

header {
  background-color: white;
  border-bottom: 2px solid #c6c6c6;
}

.header-devide{
  display: flex;
  justify-content: space-between;
}

.flex_center {
  display: flex;
  justify-content: space-around;
  line-height: 0em;
}

.button_margin {
  margin: 3px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn{
  border-radius: 100vh;
  color: #fff;
  background-color: #0088ff;
  border-color: #ffffff00;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 150px;
  height: 40px;
  transition: 0.5s ease-in-out;
}

.login-btn:hover{
    color: #fff;
    background: #0075db;
}

.flash_message{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: red;
}

.warning-icon{
  width: 20px;
  height: 20px
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-top: 40px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid #0088ff;
  border-top-color: rgb(255, 255, 255);
  animation: spin 0.5s infinite linear;
}